@font-face {
  font-family: Dudu Calligraphy;
  src: url("/font/Dudu_Calligraphy.ttf");
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  cursor: default;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 12% 8% 70% 10%;
  grid-template-areas: 'a a a'
                       '. d .'
                       'b e c'
                       'b f g';
}

h1 {
  grid-area: a;
  font-family: "Dudu Calligraphy";
  clear: both;
  text-align: center;
  font-size: 300%;
}

#leaderboard {
  grid-area: b;
  text-align: center;
  height: 0;
  width: 100%;
}

#leaderboard td{
  width: 50%;
}

#myCanvas {
  grid-area: e;
  border: 1px solid #ccc;
  cursor: crosshair;
  cursor: url("/svg/0.ico"), auto;
  background: #fff;
  margin: auto;
}

#control {
  grid-area: f;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info{
  grid-area: d;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  text-align: center;
}

#msgs {
  grid-area: c;
  overflow-y: scroll;
  border: 1px solid #e0e0e0;
  background: #fff;
  text-align: left;
}

#msgs div {
  padding: 5px;
}

#chat {
  grid-area: g;
  width: 100%;
}

#msg {
  margin-top: 15px;
  grid-area: g;
  text-align: left;
  width: 90%;
}
